html {
    font-size: 18px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.65rem;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}


/* Full-Width Site Container */

#sitecontainer {
    margin: 0 auto;
}


/* Header Bar */

header {
    display: flex;
    align-items: center;
    /*960px*/
    width: 53.3rem;
    margin: 0 auto;
    background-color: black;
}

.headerflexbox {
    display: flex;
    align-items: center;
}

header p {
    padding: .66rem 1rem;
}

header img {
    align-self: center;
    height: 1.5rem;
    margin: 0 0 0 .5rem;
}


/* Hero Graphic */

#herographic {
    background: transparent url("../images/moto.jpeg") center;
    background-size: cover;
    height: 25rem;
    width: auto;
    display: flex;
    justify-content: center;
}

.heroflex {
    /*960px*/
    width: 53.3rem;
    margin: 9rem 0 0 0;
}

.blackbox {
    padding: 2rem 3rem;
    width: 20rem;
    text-align: left;
    background-color: black;
}

.blackbox h2 {
    margin: 0 0 .25rem 0;
}


/* Navigation Menu */

.navflex {
    background: firebrick;
}

.redbar {
    padding: .75rem 0;
    margin: 0 auto;
    /*960px*/
    width: 53.3rem;
    background-color: firebrick;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.redmenu {
    padding: .75rem 0;
    margin: 0 auto;
    /*960px*/
    width: 100%;
    background-color: firebrick;
    display: none;
    align-items: center;
    justify-content: center;
}


/* Gadgets & Info Full-Width Container */

.fullsizecontainer {
    background-color: white;
    display: flex;
    flex-direction: column;
}


/* Gadgets */

.gadgetrow {
    /*960px*/
    width: 53.3rem;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.gadgetcell {
    width: 30%;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gadgetcell img {
    max-width: 100%;
    height: 9rem;
    display: block;
    padding: 2rem;
    object-fit: contain;
}

.gadgetcell p {
    background-color: black;
    text-align: center;
    white-space: nowrap;
    padding: .5rem 0;
}


/* Information */

.infoflex {
    margin: 3rem auto 4rem auto;
    /*960px*/
    width: 53.3rem;
    display: flex;
    justify-content: space-between;
}

.infobox {
    background-color: black;
    text-align: left;
    width: 35%;
    padding: 1rem 0 0 0;
}

.infobox span {
    margin: 0 0 0 2rem;
}

.infobox p {
    padding: 0;
    margin: 1rem 0 0 0;
    background-color: white;
    color: black;
}


/* Footer */

footer {
    margin: 0 auto;
    /*960px*/
    width: 53.3rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 1024px) {
    header,
    footer,
    .heroflex,
    .gadgetrow,
    .infoflex {
        width: 100%;
    }
    .redbar {
        display: none;
    }
    .redmenu {
        display: flex;
    }
    .gadgetcell:last-child {
        display: none;
    }
    .gadgetcell {
        width: 47%;
    }
}

@media only screen and (max-width: 470px) {
    header,
    footer,
    .heroflex,
    .gadgetrow,
    .infoflex {
        width: 100%;
    }
    #herographic {
        height: 15.75rem;
    }
    .heroflex {
        margin: 10rem 0 0 0;
    }
    .blackbox {
        padding: 1rem 2rem;
        width: 100%;
        text-align: left;
    }
    .blackbox h2 {
        font-size: .77rem;
    }
    .blackbox h1 {
        font-size: 1rem;
    }
    .redbar {
        display: none;
    }
    .redmenu {
        width: 100%;
        display: flex;
    }
    .gadgetrow {
        justify-content: center;
    }
    .gadgetcell {
        display: none;
    }
    .gadgetcell:first-child {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .infoflex {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .infobox {
        width: 90%;
        margin: .5rem 0 0 0;
    }
    footer {
        justify-content: center;
    }
}
