    html {
        font-size: 18px;
    }

    body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1rem;
        line-height: 1.65rem;
        color: white;
        background-color: black;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    #sitecontainer {
        margin: 0 auto;
    }

    header {
        display: flex;
        align-items: center;
        width: 53.3rem;
        margin: 0 auto;
        background-color: black;
    }

    .headerflexbox {
        display: flex;
        align-items: center;
    }

    header p {
        padding: .66rem 1rem;
    }

    header img {
        align-self: center;
        height: 1.5rem;
        margin: 0 0 0 .5rem;
    }

    #herographic {
        background: transparent url("../images/moto.jpeg") center;
        background-size: cover;
        height: 25rem;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .heroflex {
        width: 53.3rem;
        margin: 9rem 0 0 0;
    }

    .blackbox {
        padding: 2rem 3rem;
        width: 20rem;
        text-align: left;
        background-color: black;
    }

    .blackbox h2 {
        margin: 0 0 .25rem 0;
    }

    .navflex {
        background: firebrick;
    }

    .redbar {
        padding: .75rem 0;
        margin: 0 auto;
        width: 53.3rem;
        background-color: firebrick;
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .fullsizecontainer {
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .gadgetflex {
        width: 53.3rem;
        margin: 0 auto;
        padding: 3rem 0 0 0;
        display: flex;
        justify-content: space-between;
    }

    .gadgetbox {
        width: 30%;
        height: auto;
        border: 4px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .gadgetbox img {
        display: block;
        height: 9rem;
        width: auto;
        padding: 2rem;
    }

    .gadgetbox:nth-child(3) img {
        width: auto;
        height: 7rem;
        padding: 3rem;
        display: block;
    }

    .description {
        display: block;
        background-color: black;
        text-align: center;
        white-space: nowrap;
        padding: .5rem 0;
    }

    .container2 {
        display: block;
    }

    .infoflex {
        margin: 3rem auto 4rem auto;
        width: 53.3rem;
        display: flex;
        justify-content: space-between;
    }

    .infobox {
        background-color: black;
        text-align: left;
        width: 35%;
        padding: 1rem 0 0 0;
    }

    .infobox span {
        margin: 0 0 0 2rem;
    }

    .infobox p {
        padding: 0;
        margin: 1rem 0 0 0;
        background-color: white;
        color: black;
    }

    footer {
        margin: 0 auto;
        width: 53.3rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
