/* Rem basis ================================================================ */

html {
    font-size: 18px;
}


/* Standard element styling ================================================= */

body {
    margin: 0;
    padding: 0;

    color: white;
    background-color: black;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.65rem;
}

h1 {
    margin: 0;
    padding: 0;

    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
}

h2 {
    margin: 0;
    padding: 0;

    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
}

a {
    text-decoration: none;

    color: white;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}


/* Full-width site container ================================================ */

#sitecontainer {
    margin: 0 auto;
}


/* Header bar ================================================================*/

.fixwidthcontainer {
    /* 1rem = 18px | 53.3rem = 959.4px */
    width: 53.3rem;
    margin: 0 auto;
}

header {
    display: flex;

    align-items: center;
}

header p {
    padding: 0.66rem 1rem;
}

header img {
    height: 1.5rem;
    margin: 0 0 0 0.5rem;

    align-self: center;
}


/* Hero graphic ==============================================================*/

#herographic {
    display: flex;

    width: auto;
    height: 25rem;

    background: transparent url('../images/moto.jpeg') center;
    background-size: cover;

    justify-content: center;
}

.blackbox {
    width: 20rem;
    margin: 9rem 0 0;
    padding: 2rem 3rem;

    text-align: left;

    background-color: black;
}

.blackbox h2 {
    margin: 0 0 0.25rem;
}


/* Navigation menu ===========================================================*/

.navbg {
    background: firebrick;
}

nav {
    display: flex;

    padding: 0.75rem 0;

    background-color: firebrick;

    align-items: center;
    justify-content: space-between;
}

.mediamenu {
    display: none;

    width: 100%;
    margin: 0 auto;
    padding: 0.75rem 0;

    background-color: firebrick;

    align-items: center;
    justify-content: center;
}


/* White background - full-width container ===================================*/

.maincontentcontainer {
    display: flex;
    flex-direction: column;

    background-color: white;
}


/* Gadgets ===================================================================*/

.gadgetflex {
    display: flex;

    padding: 3rem 0 0;

    align-items: flex-end;
    justify-content: space-between;
}

.gadget {
    display: flex;
    flex-direction: column;

    width: 30%;

    border: 4px solid black;

    justify-content: center;
}

.gadget img {
    display: block;

    max-width: 100%;
    height: 9rem;
    padding: 2rem;

    object-fit: contain;
}

.gadget p {
    padding: 0.5rem 0;

    text-align: center;
    white-space: nowrap;

    background-color: black;
}


/* Information ===============================================================*/

.infoflex {
    display: flex;

    margin: 3rem auto 4rem;

    justify-content: space-between;
}

.info {
    width: 35%;
    padding: 1rem 0 0;

    text-align: left;

    background-color: black;
}

.info span {
    margin: 0 0 0 2rem;
}

.info p {
    margin: 1rem 0 0;
    padding: 0;

    color: black;
    background-color: white;
}


/* Footer ====================================================================*/

footer {
    display: flex;

    height: 5rem;
    margin: 0 0 0 0.5rem;

    align-items: center;
    justify-content: flex-start;
}


/* @media 1024 pixels and lower ==============================================*/

@media only screen and (max-width: 1024px) {
    .fixwidthcontainer {
        width: 100%;
    }
    nav {
        display: none;
    }
    .mediamenu {
        display: flex;
    }
    .gadget:last-child {
        display: none;
    }
    .gadget {
        width: 47%;
    }
}


/* @media 470 pixels and lower ===============================================*/

@media only screen and (max-width: 470px) {
    #herographic {
        height: 16rem;
    }
    .blackbox {
        width: 100%;
        margin: 10rem 0 0;
        padding: 1rem 2rem;

        text-align: left;
    }
    .blackbox h2 {
        font-size: 0.77rem;
    }
    .blackbox h1 {
        font-size: 1rem;
    }
    .gadgetflex {
        justify-content: center;
    }
    .gadget {
        display: none;
    }
    .gadget:first-child {
        display: flex;

        width: 90%;

        justify-content: center;
    }
    .infoflex {
        flex-direction: column;

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .info {
        width: 90%;
        margin: 0.5rem 0 0;
    }
    footer {
        justify-content: center;
    }
}
